# keep snapshots on local file system for this many days
keep_snapshot_days = 7
log_file = "~/backups/backup.log"

# the repo prefix in which to back up the data (will make sub-repos for each filesystem backup)
repo_prefix = "~/borg_repos"
# keyfile exports will be here
keyfile_export_dir = "~/.borg_keys"
# file in which to store the passphrase
borg_pass_file = "~/.borg_pass"

# how many of each type of backup to keep
day = 7
week = 4
month = 6

[fs.storage]
fs = "bigboi/storage"
repo = "{{ storage_borg_repo }}"

[fs.docker]
fs = "fastboi/docker"
repo = "{{ homeboi_docker_borg_repo }}"
exclude = [
  "wireguard",
  "grafana",
]

[fs.media]
fs = "bigboi/media"
repo = "{{ media_borg_repo }}"
exclude = [
  "djank_music",
  "downloads",
  "movies",
  "music",
  "tv",
  "youtube",
  ".stfolder",
  ".stignore",
]
