- Apps:
    - Jellyfin:
        href: "https://jellyfin.{{ dns_name }}"
        siteMonitor: "http://jellyfin:{{ jellyfin_http }}"
        icon: jellyfin.svg
        widget:
          type: jellyfin
          url: "http://jellyfin:{{ jellyfin_http }}"
          key: "{{ jellyfin_api_key }}"
          enableBlocks: true # optional, defaults to false
          enableNowPlaying: true # optional, defaults to true
          enableUser: true # optional, defaults to false
          showEpisodeNumber: true # optional, defaults to false
          expandOneStreamToTwoRows: false # optional, defaults to true
    - Syncthing:
        href: "https://syncthing.{{ dns_name }}"
        # could not manage to get this working with host.docker.internal
        siteMonitor: "http://{{ local_ip }}:{{ syncthing_http }}"
        icon: syncthing.svg
    - Grafana:
        href: "https://grafana.{{ dns_name }}"
        siteMonitor: "http://grafana:{{ grafana_http }}"
        icon: grafana.svg
    - Traefik:
        href: "https://traefik.{{ dns_name }}"
        icon: traefik.svg
    - PiKVM:
        href: "https://pikvm.lan"
        siteMonitor: "https://pikvm.lan"
        icon: pikvm.png
    - "IT Tools":
        href: "https://it-tools.{{ dns_name }}"
        siteMonitor: "http://it-tools"
        icon: it-tools.svg
    - AnythingLLM:
        href: "https://llm.{{ dns_name }}"
        siteMonitor: "https://llm.{{ dns_name }}"
        icon: /images/anythingllm.png
    - MBTA:
        href: "https://mbta.{{ dns_name }}"
        icon: /images/mbta.png

- Network:
    - UniFi:
        href: "https://router.lan"
        siteMonitor: "https://router.lan"
        icon: unifi-controller.png
    - "Pi-hole (main)":
        href: "https://pihole.{{ dns_name }}/admin/"
        siteMonitor: "http://pihole"
        icon: pi-hole.svg
        widget:
          type: pihole
          key: "{{ pihole_app_password }}"
          url: "http://pihole"
          version: 6
    - "Pi-hole (failover)":
        href: "https://failhole.lan/admin/"
        siteMonitor: "http://failhole.lan"
        icon: pi-hole.svg
        widget:
          type: pihole
          key: "{{ pihole_app_password }}"
          url: "http://failhole.lan"
          version: 6
    - "Speedtest Tracker":
        href: "https://speedtest.{{ dns_name }}"
        siteMonitor: "http://speedtesttracker"
        icon: speedtest-tracker.png
        widget:
          type: speedtest
          url: "http://speedtesttracker"

- Dry Reeps:
    - Radarr:
        href: "https://radarr.{{ dns_name }}"
        siteMonitor: "http://radarr:{{ radarr_http }}"
        icon: radarr.svg
        widget:
          type: radarr
          url: "http://radarr:{{ radarr_http }}"
          key: "{{ radarr_api_key }}"
          enableQueue: true
    - Sonarr:
        href: "https://sonarr.{{ dns_name }}"
        siteMonitor: "http://sonarr:{{ sonarr_http }}"
        icon: sonarr.svg
        widget:
          type: sonarr
          url: "http://sonarr:{{ sonarr_http }}"
          key: "{{ sonarr_api_key }}"
    - Lidarr:
        href: "https://lidarr.{{ dns_name }}"
        siteMonitor: "http://lidarr:{{ lidarr_http }}"
        icon: lidarr.svg
        widget:
          type: lidarr
          url: "http://lidarr:{{ lidarr_http }}"
          key: "{{ lidarr_api_key }}"
    - Sabnzbd:
        href: "https://sabnzbd.{{ dns_name }}"
        siteMonitor: "http://torrentvpn:8080"
        icon: sabnzbd.svg
        widget:
          type: sabnzbd
          url: "http://torrentvpn:8080"
          key: "{{ sabnzbd_api_key }}"
    - Prowlarr:
        href: "https://prowlarr.{{ dns_name }}"
        siteMonitor: "http://prowlarr:{{ prowlarr_http }}"
        icon: prowlarr.svg
        # NOTE: this api seems busted
        # widget:
        #   type: prowlarr
        #   url: "http://prowlarr:{{ prowlarr_http }}"
        #   apikey: "{{ prowlarr_api_key }}"
