services:
  pihole:
    container_name: pihole
    image: "pihole/pihole"
    hostname: "pi.hole"
    volumes:
      - "{{ docker_dir }}/pihole/etc-pihole:/etc/pihole"
      - "{{ docker_dir }}/pihole/etc-dnsmasq.d:/etc/dnsmasq.d"
    restart: unless-stopped
    environment:
      TZ: "{{ timezone }}"
      VIRTUAL_HOST: "pi.hole"
      PROXY_LOCATION: "pi.hole"
      FTLCONF_LOCAL_IPV4: "{{ local_ip }}"
    networks:
      pihole:
      proxy:
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.{{ dns_name }}`)"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      - "traefik.http.routers.pihole.entrypoints=https"
      - "traefik.http.routers.pihole.tls.certresolver=godaddy"

  nebula-sync:
    depends_on:
      - pihole
    container_name: nebula-sync
    image: "ghcr.io/lovelaze/nebula-sync:latest"
    environment:
      PRIMARY: "http://pihole|{{ pihole_password }}"
      REPLICAS: "http://{{ failhole_ip }}|{{ pihole_password }}"
      FULL_SYNC: true
      RUN_GRAVITY: true
      CRON: "0 * * * *"
    networks:
      pihole:

networks:
  pihole:
  proxy:
    external: true
