---
- name: Create media + Arr stack
  tags:
    - media
    - usenet
    - arr
    - containers
  block:
    - name: Create and chmod folders
      become: true
      file:
        path: "{{ docker_dir }}/media/{{ item }}"
        owner: "{{ username }}"
        group: "{{ username }}"
        state: directory
        mode: 0755
      with_items:
        - "jellyfin/config"
        - "jellyfin/cache"
        - "jellyfin/transcodes"
        - "prowlarr/config"
        - "radarr/config"
        - "sonarr/config"
        - "lidarr/config"
        - "sabnzbd"

    - name: Install the docker compose file
      become: true
      template:
        src: "files/media-compose.yml"
        dest: "{{ docker_dir }}/media/docker-compose.yml"
        owner: "{{ username }}"
        group: "{{ username }}"

    - name: Run compose project
      community.docker.docker_compose_v2:
        project_src: "{{ docker_dir }}/media/"
