---
- name: Create media + Arr stack
  tags:
    - media
    - usenet
    - arr
    - containers
  block:
    - name: Create and chmod folders
      become: true
      file:
        path: "{{ docker_dir }}/media/{{ item }}"
        owner: "{{ username }}"
        group: "{{ username }}"
        state: directory
        mode: 0755
      with_items:
        - "jellyfin/config"
        - "jellyfin/cache"
        - "jellyfin/transcodes"
        - "prowlarr/config"
        - "radarr/config"
        - "sonarr/config"
        - "lidarr/config"
        - "sabnzbd"

    - name: Install the docker compose file
      template:
        src: "files/media-compose.yml"
        dest: "{{ docker_dir }}/media/docker-compose.yml"

    - name: Run compose project
      community.docker.docker_compose_v2:
        project_src: "{{ docker_dir }}/media/"


- name: Hardlink cleanup
  tags:
    - media
    - hardlink
  block:
    - name: Install hardlink script
      copy:
        src: "files/hardlink_cleanup.sh"
        dest: "{{ docker_dir }}/media/"
        mode: 0500

    - name: Hardlink cron
      become: yes
      cron:
        name: Hardlink cleanup
        user: root
        hour: "0"
        job: "{{ docker_dir }}/media/hardlink_cleanup.sh > /dev/null"
