---
- name: Pi-hole
  tags:
    - containers
    - pihole
  block:
    - name: Create and chmod folders
      become: true
      file:
        path: "{{ docker_dir }}/pihole"
        owner: root
        group: root
        state: directory
        mode: 0755
        recurse: true

    - name: Fix systemd-resolved
      become: true
      lineinfile:
        dest: "/etc/systemd/resolved.conf"
        regexp: "^DNSStubListener"
        line: "DNSStubListener=no"
        state: present
        mode: 0644
      register: resolved

    - name: Restart resolved
      when: resolved.changed
      become: true
      ansible.builtin.systemd:
        name: systemd-resolved
        state: restarted

    - name: Edit resolve.conf
      become: true
      ansible.builtin.file:
        src: /run/systemd/resolve/resolv.conf
        dest: /etc/resolv.conf
        state: link

    - name: Sync compose file
      become: true
      template:
        src: files/pihole-compose.yml
        dest: "{{ docker_dir }}/pihole/docker-compose.yml"
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: 0600

    - name: Run pihole compose file
      community.docker.docker_compose_v2:
        project_src: "{{ docker_dir }}/pihole"

- name: SpeedtestTracker
  tags:
    - containers
    - speedtest
  block:
    - name: Create and chmod folders
      become: true
      file:
        path: "{{ item }}"
        owner: "{{ username }}"
        group: "{{ username }}"
        state: directory
        mode: 0755
        recurse: true
      with_items:
        - "{{ docker_dir }}/speedtest"

    - name: Run speedtest tracker
      docker_container:
        name: speedtesttracker
        image: "lscr.io/linuxserver/speedtest-tracker"
        pull: true
        state: started
        networks:
          - name: proxy
        env:
          "PUID": "1000"
          "PGID": "1000"
          "APP_KEY": '"{{ speedtesttracker_key }}"'
          "APP_URL": "http://speedtest.{{ dns_name }}"
          "SPEEDTEST_SCHEDULE": "*/15 * * * *"
          "SPEEDTEST_SERVERS": "1774,13429,49814"
          "PRUNE_RESULTS_OLDER_THAN": "30"
          "DISPLAY_TIMEZONE": "{{ timezone }}"
        dns_servers:
          - 1.1.1.1
          - 9.9.9.9
        volumes:
          - "{{ docker_dir }}/speedtest:/config"
        restart_policy: unless-stopped
        labels:
          traefik.enable: "true"
          traefik.http.routers.speedtest.rule: "Host(`speedtest.{{ dns_name }}`)"
          traefik.http.routers.speedtest.entrypoints: "https"
          traefik.http.routers.speedtest.tls.certresolver: "godaddy"
